{#
=============================================================================
Superset 6.0.0 i18n Fix - Custom Base Template
=============================================================================

This template extends the default Superset base template to inject
the i18n runtime fix script.

See: https://github.com/apache/superset/issues/34751

TODO: Remove this patch when official fix is released.
      Check these PRs/issues for updates:
      - https://github.com/apache/superset/issues/34751
      - https://github.com/apache/superset/issues/35569

@version 1.0.0
@date 2026-01-19
=============================================================================
#}
{% extends "superset/basic.html" %}

{% block tail_js %}
{{ super() }}
{# 
=============================================================================
i18n Runtime Fix Injection
TODO: Remove this block when official fix is released
=============================================================================
#}
<script src="{{ assets_prefix }}/static/assets/i18n-runtime-fix.js"></script>
{% endblock %}
